/*Carusel de productos*/
.titulo1{
    font-size: 40px;
    text-align: center;
    color: #BA1D2C;
    margin: 4rem 0 ;
}
.carousel-products.slick-initialized.slick-slider {
    height: 420px;
    margin-bottom: 0rem;
}
.slick-prev:before{
    content: "\f104" !important;
    color: #999999 !important;
    font-size: 30px !important;
    font-family: FontAwesome !important;
}
.slick-next:before{
    content: "\f105" !important;
    color: #999999 !important;
    font-size: 30px !important;
    font-family: FontAwesome !important;
}
.slick-next{top: 40% !important;}
.slick-prev {top: 40% !important; z-index: 1;}
.slick-dots li button:before {font-size: 10px !important;}
.slick-dots li button:before {font-size: 10px !important;}
.carousel-ofertas .slick-dots {
    margin-left: -4rem !important;
}
.ofertasm {
    width: 60px;
    height: 60px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ba1d2c;
    position: absolute;
    right: 9%;
    top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    flex-direction: column;
}
.contenedor-imgproducto {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    padding: 1rem 1rem;
    margin: 5px;
    height: 94%;
}
.img-cont {
    height: 250px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.img-producto{
    width: 100%;
    height: auto;
}
.titulo-producto{
    font-size: 16px;
    margin-bottom: 0px;
    height: 75px;
    font-family: 'Brandon-Text-Bold';
}
.btn-producto-black{
    text-decoration: none;
    padding: 0.5rem 2rem;
    color: #ffffff;
    background: #BA1D2C;
    border: 0.3vw solid transparent;
    text-align: center;
    font-size: 14px;
}

.btn-producto-black:hover, .btn-producto-black:focus{
    background: #ffffff;
    border: 0.3vw solid #BA1D2C;
    color: #BA1D2C;
    text-decoration: none;
}
.btn-producto-black-disabled{
    text-decoration: none;
    padding: 0.5rem 2rem;
    color: #ffffff;
    background: #b5acad;
    border: 0.3vw solid transparent;
    text-align: center;
    font-size: 14px;
}

.btn-producto-black-disabled:hover, .btn-producto-black-disabled:focus{
    background: #ffffff;
    border: 0.3vw solid #b5acad;
    color: #b5acad;
    text-decoration: none;
}
.font-9{
    font-size: 9px;
}
/*pop up*/
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    margin: 8% auto;
    background: #2797DC;
    width: 45%;
    position: relative;
    transition: all 3s ease-in-out;
}
.popup .close {
    position: absolute;
    top: 0;
    right: 2%;
    transition: all 200ms;
    font-size: 30px;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    z-index: 1;
}
.popup .close:hover {
    color: #fff !important;
}
.content{
    color: #fff;
    text-align: center;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center
}
.ap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.l-1{
    line-height: 1;
}
.img-pop{
    width: auto;
    height: auto;
    max-height: 150px;
    width: 100%;
    padding: 0;
}
.font-40 {
    font-size: 94px;
}
.font-16{
    font-size: 16px;
}
.titulo-pop {
    font-size: 16px;
}
form#miregalo {
    margin: 0;
}
.btn-secundario {
    color: #fff;
    padding: 0.5rem 2rem;
    font-size: 18px;
    border: solid 3px #fff;
}
.btn-secundario:hover {
    color: #fff !important;
}
.font-2rem{
    font-size: 2rem;
}
.content2 {
    color: #fff;
    margin: 0 auto;
}
.titulo-pop2 {
    font-size: 16px;
    line-height: 1;
}
.btn-secundario2 {
    color: #fff;
    padding: 0.5rem 2rem;
    font-size: 18px;
    border: solid 3px #fff;
    width: auto;
    margin: 0 auto;
}
.btn-secundario2:hover {
    color: #fff !important;
}

.popup {
    margin: 8% auto;
    background: #2797DC;
    width: 50%;
    position: relative;
    transition: all 3s ease-in-out;
}
@media screen and (min-width: 993px) and (max-width: 1050px){
    .popup {
        width: 60%;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px){
    .popup {
        width: 70%;
    }
}
@media screen and (max-width: 767px){
    .btn-producto-black{
        font-size: 12px;
    }
    .popup {
        width: 99%;
    }
    .content2 {width: 100%;}
    .btn-secundario2 {
        width: 50%;
    }

}