/* .imgLogin{
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: .1px;
} */

.fieldLogin{
    /* margin-top: 10rem; */
    top: 45%;
    left: 75%;
    transform:  translate(-50%, -50%);
}
.contenedor img{
    aspect-ratio: 20 / 8;
}
@media screen and (max-width: 1024px) and (min-width: 768px){
    .contenedor img{
        aspect-ratio: 16 / 9;
    }
    .fieldLogin{
        top: 50%;
        width: 40%;
        left: 76%;
    }
}

@media screen and (max-width: 576px){
    .contenedor img{
        aspect-ratio: unset;
    }
    .fieldLogin {
        width: 90%;
        margin-top: 10rem;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}