@font-face {
    font-family: 'FontAwesome';
    src: url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2") format("woff2");
}
.display-hide{
    display: none;
}
.display-block{
    display: block;
}
.mt-6rem{
    margin-top: 6rem;
}
.cont-op-1{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 22px;
}
.cont-op-2{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 22px;
}
.w-55 {
    width: auto;
    padding: 0 15px;
}
.borgrey{
    border-bottom: solid 4px #CAD1D8;
    padding: 0 1rem;
}
.borred{
    border-bottom: solid 4px #0071CE;
    padding: 0 1rem;
}
.position-icon-2 {
    width: 20%;
    left: 5%;
    bottom: -36%;
    top: initial;
}
.mt-3rem{
    margin-top: 3rem;
}
.font-38{
    font-size: 38px;
}
.font-22{
    font-size: 22px;
}
.font-18{
    font-size: 18px;
}
.form-group.field-loginform-rememberme {
    margin-bottom: 8px;
    margin-right: 8px;
}
.btn-inicio:hover {
    color: #0071CE !important;
    border-bottom: solid #0071CE;
    padding: 0 1rem;
}
.button-mc-red {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: #ffffff;
    background: #BA1D2C;
    font-size: 18px;
    width: 240px !important;
}
.button-mc-reverse {
    text-decoration: none;
    background: #ffffff;
    padding: 0.5rem 1rem;
    border: 5px solid #BA1D2C;
    color: #BA1D2C;
    font-size: 18px;
    width: 240px;
}
.button-mc-reverse:hover {
    text-decoration: none;
    color: #ffffff !important;
    background: #BA1D2C;
    border: 5px solid #ba1d2c00;
}
.mb-6rem{
    margin-bottom: 6rem;
}
@media screen and (max-width: 767px){
    .col-xs-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .cont-op-1{
        align-items: center;
        font-size: 20px;
    }
    .cont-op-2{
        align-items: center;
        font-size: 20px;
        margin-top: 2rem;
    }
    .mt-6rem {
        margin-top: 3rem;
    }
    .font-38 {
        font-size: 36px;
    }
    .mt-3rem {
        margin-top: 1rem;
    }
    .ocultar{
        display: none;
    }
    .margin-general {
        margin: 2rem 0rem;
    }
    a.white.button-mc-reverse.font-bold.button-mc-aux.pointer.w-80.text-center {
        margin-top: -2rem;
    }
}