.contenido {
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.contenedorTextoFiguras {
    margin-top: 3rem;
    font-size: 22px;
}
.tituloFiguras {
    font-family: 'Helvética-Bold';
    font-size: 28px;
    font-weight: bold;
}
.subTituloFiguras {
    font-family: 'Helvética-Bold';
    font-size: 24px;
    font-weight: 600;
}
.contenedorColeccionFiguras {
    margin: 2rem 2rem;
}
.coleccionFiguras {
    font-size: 22px;
    margin-top: 2rem;
}
.imgCheckList {
    width: 100%;
}
.checkboxAcesoriosFigura {
    height: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}
.checkboxAcesoriosFigura > div {
    display: flex;
    align-items: baseline;
    margin-bottom: 1rem;
}
.checkboxAcesoriosFigura > div > label {
    margin-left: 1rem;
}
/* Responsive */
@media screen and (min-width: 1660px) {
    .checkboxAcesoriosFigura {
        font-size: 24px;
    }
    .checkboxAcesoriosFigura > div > input[type="checkbox"] {
        width: 20px;
        height: 20px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {

}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .checkboxAcesoriosFigura {
        font-size: 18px;
    }
}
@media screen and (max-width: 767px) {
    
}