.contenedorBarrasProgresivas {
    display: flex;
    margin-bottom: 2rem;
}
.tituloBarras {
    color: #000;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 1rem;
}
.puntos {
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
    margin-bottom: 1rem;
}
.animated-progress {
    min-width: 350px;
    width: 95%;
    height: 30px;
    border-radius: 5px;
    margin-right: 25px;
    border: 1px solid rgb(189, 113, 113);
    overflow: hidden;
    position: relative;
}
.animated-progress.progress-blue {
    background: #0063ff;
}
.animated-progress.progress-green {
    background: #44FF3D;
}
.animated-progress span {
    height: 100%;
    display: block;
    width: 0;
    color: rgb(255, 251, 251);
    line-height: 30px;
    position: absolute;
    text-align: end;
    padding-right: 5px;
}
.progress-blue span {
    background-color: blue;
    border-right: 2px solid red;
}
.progress-green span {
    background-color: green;
    border-right: 2px solid red;
} 
.contenedorVideo iframe {
    width: 100% !important;
}
.contenedorInfoUsuario {
    margin-top: 2rem;
}
.infoUsuario {
    display: flex;
    width: 100%;
}
.infoUsuario img {
    width: 50px;
    height: auto;
    margin-top: 1rem;
}
.textoCuadroUsuario {
    margin: 0 1rem;
    line-height: 2;
}
span.nombreUsuario {
    font-weight: 600;
    font-size: 20px;
}
img.imgBanderaUsuario {
    width: 30px;
    margin-top: 0;
}
.contenedorTextoColeccion {
    margin: 4rem 0;
}
.TituloColeccion {
    font-weight: bold;
    font-size: 22px;
}
.imgColeccionFotos {
    width: 100%;
    margin-bottom: 1rem;
}
.figurasFavoritas {
    margin-top: 4rem;
}
.figurasFavoritas .contenedorTexto {
    text-align: justify;
    margin: 2rem 0;
}
.figurasFavoritas .Titulo {
    color: #000;
    font-weight: 900;
    font-size: 36px;
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
}
.figurasFavoritas .row {
    justify-content: center;
}
.imagenPerfil .slick-image {
    width: 700px;
    height: 485px;
}
.verticalPerfil .slick-image {
    width: 150px;
    height: 150px;
    cursor: pointer;
}
.contenedorMultiCarousel {
    margin-top: 4rem;
}
.contenedorMultiCarousel .contenedorTexto {
    text-align: justify;
    margin: 2rem 0;
}
.contenedorMultiCarousel .Titulo {
    color: #000;
    font-weight: 900;
    font-size: 36px;
    display: flex;
    justify-content: space-between;
}
.contenedorMultiCarousel .TituloGaleria {
    display: flex;
    align-items: center;
}
.contenedorMultiCarousel .TituloGaleria .Galeria {
    color: #006f9b;
    font-size: 26px;
    margin-left: 1rem;
}
.MultiCarousel-slick .slick-prev:before, .slick-prev:before, .slick-next:before {
    font-size: 60px;
}
.MultiCarousel-slick button.slick-prev.slick-arrow {
    left: 130px;
}
.MultiCarousel-slick button.slick-next.slick-arrow{
    right: 170px;
}
.MultiCarousel-slick-nav .slick-image {
    width: 200px;
    height: 200px;
}
.MultiCarousel-slick-nav.slick-initialized.slick-slider img {
    cursor: pointer;
}
.contenedorPagination {
    display: flex;
    justify-content: end;
}
.pagination {
    display: inline-block;
}
.pagination a {
    color: #fff;
    background: gray;
    float: left;
    width: 30px;
    height: 30px;
    margin: 5px;
    padding: 5px 10px;
    text-decoration: none;
}
.pagination a:hover {
    color: #fff;
    background-color: #000;
}
a.paginationArrow {
    color: #000;
    background: none;
    font-weight: bold;
    font-size: 20px;
    padding: 0px 10px;
}
/* Responsive */
@media screen and (min-width: 1660px) {

}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .MultiCarousel-slick button.slick-prev.slick-arrow {
        left: 50px;
    }
    .MultiCarousel-slick button.slick-next.slick-arrow{
        right: 90px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .contenedorBarrasProgresivas {
        display: block;
    }
    .animated-progress {
        width: 100%;
    }
    .puntos {
        padding-right: 0;
    }
}
@media screen and (max-width: 767px) {
    .infoUsuario {
        justify-content: center;
    }
    .contenedorBarrasProgresivas {
        display: block;
    }
    .animated-progress {
        width: 100%;
    }
    .puntos {
        padding-right: 0;
    }
    .animated-progress {
        min-width: 300px;
    }
    .contenedorMultiCarousel .Titulo {
        display: block;
    }
    .MultiCarousel-slick-nav .slick-image {
        width: 100px;
        height: 100px;
    }
}