:root,[data-bs-theme=light] {
    --bs-blue: #7269ef;
    --bs-indigo: #564ab1;
    --bs-purple: #8e4aec;
    --bs-pink: #e83e8c;
    --bs-red: #ef476f;
    --bs-orange: #fc814a;
    --bs-yellow: #ffd166;
    --bs-green: #06d6a0;
    --bs-teal: #050505;
    --bs-cyan: #50a5f1;
    --bs-black: #000;
    --bs-modal: #fff;
    --bs-white: #fff;
    --bs-gray: #7a7f9a;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #f5f7fb;
    --bs-gray-300: #f0eff5;
    --bs-gray-400: #e6ebf5;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #7a7f9a;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #7269ef;
    --bs-secondary: #7a7f9a;
    --bs-success: #06d6a0;
    --bs-info: #50a5f1;
    --bs-warning: #ffd166;
    --bs-danger: #ef476f;
    --bs-light: #e6ebf5;
    --bs-dark: #343a40;
    --bs-primary-rgb: 114,105,239;
    --bs-secondary-rgb: 122,127,154;
    --bs-success-rgb: 6,214,160;
    --bs-info-rgb: 80,165,241;
    --bs-warning-rgb: 255,209,102;
    --bs-danger-rgb: 239,71,111;
    --bs-light-rgb: 230,235,245;
    --bs-dark-rgb: 52,58,64;
    --bs-primary-text-emphasis: #2e2a60;
    --bs-secondary-text-emphasis: #31333e;
    --bs-success-text-emphasis: #025640;
    --bs-info-text-emphasis: #204260;
    --bs-warning-text-emphasis: #665429;
    --bs-danger-text-emphasis: #601c2c;
    --bs-light-text-emphasis: #495057;
    --bs-dark-text-emphasis: #495057;
    --bs-primary-bg-subtle: #e3e1fc;
    --bs-secondary-bg-subtle: #e4e5eb;
    --bs-success-bg-subtle: #cdf7ec;
    --bs-info-bg-subtle: #dcedfc;
    --bs-warning-bg-subtle: #fff6e0;
    --bs-danger-bg-subtle: #fcdae2;
    --bs-light-bg-subtle: #fcfcfd;
    --bs-dark-bg-subtle: #e6ebf5;
    --bs-primary-border-subtle: #c7c3f9;
    --bs-secondary-border-subtle: #caccd7;
    --bs-success-border-subtle: #9befd9;
    --bs-info-border-subtle: #b9dbf9;
    --bs-warning-border-subtle: #ffedc2;
    --bs-danger-border-subtle: #f9b5c5;
    --bs-light-border-subtle: #f5f7fb;
    --bs-dark-border-subtle: #adb5bd;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-font-sans-serif: "Public Sans",sans-serif;
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg,#ffffff26,#fff0);
    --bs-body-font-family: "Public Sans",sans-serif;
    --bs-body-font-size: 0.9375rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #495057;
    --bs-body-color-rgb: 73,80,87;
    --bs-body-bg: #f7f7ff;
    --bs-body-bg-rgb: 247,247,255;
    --bs-emphasis-color: #000;
    --bs-emphasis-color-rgb: 0,0,0;
    --bs-secondary-color: #7a7f9a;
    --bs-secondary-color-rgb: 122,127,154;
    --bs-secondary-bg: #f5f7fb;
    --bs-secondary-bg-rgb: 245,247,251;
    --bs-tertiary-color: #49505780;
    --bs-tertiary-color-rgb: 73,80,87;
    --bs-tertiary-bg: #f8f9fa;
    --bs-tertiary-bg-rgb: 248,249,250;
    --bs-heading-color: inherit;
    --bs-link-color: #7269ef;
    --bs-link-color-rgb: 114,105,239;
    --bs-link-decoration: none;
    --bs-link-hover-color: #6159cb;
    --bs-link-hover-color-rgb: 97,89,203;
    --bs-link-hover-decoration: underline;
    --bs-code-color: #e83e8c;
    --bs-highlight-color: #212529;
    --bs-highlight-bg: #fcf8e3;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #f0eff5;
    --bs-border-color-translucent: rgba(0,0,0,.175);
    --bs-border-radius: 0.25rem;
    --bs-border-radius-sm: 0.2rem;
    --bs-border-radius-lg: 0.4rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-xxl: 2rem;
    --bs-border-radius-2xl: var(--bs-border-radius-xxl);
    --bs-border-radius-pill: 50rem;
    --bs-box-shadow: 0 2px 4px #0f223a1f;
    --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0,0,0,.075);
    --bs-box-shadow-lg: 0 1rem 3rem rgba(0,0,0,.175);
    --bs-box-shadow-inset: inset 0 1px 2px rgba(0,0,0,.075);
    --bs-focus-ring-width: 0.25rem;
    --bs-focus-ring-opacity: 0.25;
    --bs-focus-ring-color: #7269ef40;
    --bs-form-valid-color: #06d6a0;
    --bs-form-valid-border-color: #06d6a0;
    --bs-form-invalid-color: #ef476f;
    --bs-form-invalid-border-color: #ef476f;
    --color-notify: #FF0351;
    --bg-notify:#FAF3FD;
    --bg-bell: #726C6D;
    --bg-project: #ECF4F9;
    --bg-project-cards: #ffffff;
    --bg-catalog: #F9F9F9;
    --bg-bottom-primary: #121256;
    /* --bg-bottom-primary2: #4A4187; */
    --color-text-descrip: #8106D5;
    --menu-color: #F4F4F4;
    --color-items-menu: #505050;
    --active-color-item-menu: #E5E5E5;
    --mycard-bg: #EFEFEF;
    --mycard-color-a: #FF0351;
    --mycard-sc-bg1: #FEF7EE;
    --mycard-sc-bg2: #F2F2F2;
    --mycard-sc-bg3: #F1F2F9;
    --bg-navtap: #4A4187;
    --border-inputs: #FF0351;

}

[data-bs-theme=dark] {
    --bs-body-color: #a6b0cf;
    --bs-body-color-rgb: 166,176,207;
    --bs-body-bg: #535353;
    --bs-body-bg-rgb: 48,56,65;
    --bs-emphasis-color: #f8f9fa;
    --bs-emphasis-color-rgb: 248,249,250;
    --bs-secondary-color: #abb4d2;
    --bs-secondary-color-rgb: 171,180,210;
    --bs-secondary-bg: #36404a;
    --bs-secondary-bg-rgb: 54,64,74;
    --bs-tertiary-color: #a6b0cf80;
    --bs-tertiary-color-rgb: 166,176,207;
    --bs-tertiary-bg: #272e34;
    --bs-tertiary-bg-rgb: 39,46,52;
    --bs-primary-text-emphasis: #6ea8fe;
    --bs-secondary-text-emphasis: #a7acb1;
    --bs-success-text-emphasis: #75b798;
    --bs-info-text-emphasis: #6edff6;
    --bs-warning-text-emphasis: #ffda6a;
    --bs-danger-text-emphasis: #ea868f;
    --bs-light-text-emphasis: #f8f9fa;
    --bs-dark-text-emphasis: #dee2e6;
    --bs-primary-bg-subtle: #7269ef26;
    --bs-secondary-bg-subtle: #343a40;
    --bs-success-bg-subtle: #025640;
    --bs-info-bg-subtle: #204260;
    --bs-warning-bg-subtle: #665429;
    --bs-danger-bg-subtle: #601c2c;
    --bs-light-bg-subtle: #343a40;
    --bs-dark-bg-subtle: #1a1d20;
    --bs-primary-border-subtle: #443f8f;
    --bs-secondary-border-subtle: #495057;
    --bs-success-border-subtle: #048060;
    --bs-info-border-subtle: #306391;
    --bs-warning-border-subtle: #997d3d;
    --bs-danger-border-subtle: #8f2b43;
    --bs-light-border-subtle: #495057;
    --bs-dark-border-subtle: #343a40;
    --bs-heading-color: inherit;
    --bs-link-color: #6ea8fe;
    --bs-link-hover-color: #8bb9fe;
    --bs-link-color-rgb: 110,168,254;
    --bs-link-hover-color-rgb: 139,185,254;
    --bs-code-color: #e685b5;
    --bs-highlight-color: #dee2e6;
    --bs-highlight-bg: #664d03;
    --bs-border-color: #36404a;
    --bs-border-color-translucent: #39414b;
    --bs-form-valid-color: #75b798;
    --bs-form-valid-border-color: #75b798;
    --bs-form-invalid-color: #ea868f;
    --bs-form-invalid-border-color: #ea868f;
    --color-scheme: dark;
    --color-notify: #F9F9F9;
    --bg-notify:#494384;
    --bg-bell: #ffffff;
    --bg-project: #211E1E;
    --bg-project-cards: #191818;
    --bg-catalog: #2B2727;
    --bg-bottom-primary: #FF0351;
   /*  --bg-bottom-primary2: #FF0351; */
    --color-text-descrip: #ffffff;
    --menu-color: #02010E;
    --color-items-menu: #ffffff;
    --active-color-item-menu: #FF0351;
    --mycard-bg: #2B2727;
    --mycard-color-a: #6A5FBC;
    --mycard-sc-bg1: #2B2727;
    --mycard-sc-bg2: #2B2727;
    --mycard-sc-bg3: #2B2727;
    --bg-navtap: #4A4187;
    --border-inputs: #5E52AB;
    --bs-modal: #000000;
}

:root,[data-bs-theme=light] {
    --bs-white-text: #fff;
    --bs-secondary: #f5f7fb;
    --bs-body-secondary-color: #7a7f9a;
    --bs-text-muted: #7a7f9a;
    --bs-card-logo-dark: block;
    --bs-card-logo-light: none;
    --bs-sidebar-bg: #fff;
    --bs-sidebar-menu-item-color: #878a92;
    --bs-sidebar-menu-item-active-color: var(--bs-primary);
    --bs-sidebar-menu-item-active-bg: #f7f7ff;
    --bs-sidebar-sub-bg: #f5f7fb;
    --bs-theme-mode-icon: "Ã®Â»Â»";
    --bs-accordion-button-bg: #f5f7fb;
    --bs-accordion-bg: #fff;
    --bs-dropdown-bg: #fff
}

[data-bs-theme=dark] {
    --bs-white: #191818;
    --bs-white-rgb: 38,46,53;
    --bs-light: #36404a;
    --bs-light-rgb: 54,64,74;
    --bs-dark: #eff2f7;
    --bs-dark-rgb: 239,242,247;
    --bs-secondary: #7a7f9a;
    --bs-secondary-rgb: 122,127,154;
    --bs-text-muted: #9aa1b9;
    --bs-text-muted-rgb: 154,161,185;
    --bs-sidebar-bg: #36404a;
    --bs-sidebar-menu-item-color: #a6b0cf;
    --bs-sidebar-menu-item-active-color: #fff;
    --bs-sidebar-menu-item-active-bg: #3e4a56;
    --bs-sidebar-sub-bg: #303841;
    --bs-accordion-button-bg: #36404a;
    --bs-accordion-bg: #0000;
    --bs-theme-mode-icon: "Ã¯â€žâ€¦";
    --bs-dropdown-bg: #313a43
}