
.ck-editor__editable[role="textbox"] {
    min-height: 200px;
}
form{
    width: min(100% - 3rem, 500px);
    margin-inline: auto;
}

/* ########################################################## */

.contenido_formulario_blog{
    display: grid;
    grid-template-columns: 700px 1fr;
}

.contenido_formulario_blog > div:nth-child(2){
    position: sticky;
    margin-top: 270px;
    top: 20px;
    justify-self: center;
    height: 200px;
    width: 80%;
}

.preview-right > center > .contenido-right > .title-preview-right{
    font-size: 30px;
    color: #9c9c9c;
    margin-bottom: 16px;
}

/* ########################################################## */

.minimo-height{
    max-height: 500px;
    overflow-y: auto;
}

.preview_escritorio{
    width: 400px;
    margin: auto;
}

.preview_desktop__title{
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 8px;
}

.preview_desktop__cover{
    width: 500px;
    height: 300px;
    /* height: 200px; */
    overflow: hidden;
    margin: auto;
}

.preview_desktop__cover img{
    width: 100%;
    object-fit: cover;
}

.preview_desktop__description{
    margin-top: 20px;
}

.btn{
    text-transform: uppercase;
}

.justify-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top_imagenes > .text_tp, .bt_imagenes > .text_tp{
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 8px;
}

.top_imagenes > .img_tp, .bt_imagenes > .img_tp{
    width: 500px;
    height: 250px;
    margin: auto;
}

.top_imagenes > .img_tp img, .bt_imagenes > .img_tp img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top_imagenes > .desc_tp, .bt_imagenes > .desc_tp{
    margin-top: 20px;
}

/* ########################################################## */

.radio-buttons{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.custom-radio input{
    display: none;
}

.radio-btn{
    margin: 10px;
    width: 130px;
    height: 150px;
    border: 3px solid transparent;
    display: block;
    border-radius: 10px;
    position: relative;
    text-align: center;
    box-shadow: 0 0 20px #c3c3c367;
    cursor: pointer;
}

.radio-buttons .position_1{
    background-image: url('../../images/posicion_photos/posicion_photos_1.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
}

.radio-buttons .position_2{
    background-image: url('../../images/posicion_photos/posicion_photos_2.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
}

.radio-buttons .position_3{
    background-image: url('../../images/posicion_photos/posicion_photos_3.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
}

.custom-radio input:checked+.radio-btn{
    border: 3px solid #3187ff;
}

/* ########################################################## */

@media (width < 720px){
    .preview-right{
        display: none;
    }
    .contenido_formulario_blog{
        grid-template-columns: none;
    }
}